<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--    <link rel="stylesheet" type="text/css" href="../css/style.css">-->
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
    </head>
    <body>
        <div id="main">
            <div class="fof">
                <h1>Something went wrong! <br>
                    <span th:text="${status}">status</span>
                    <span th:text="${error}">error</span>
                </h1>

                <p th:text="${message}">message</p>

                <p><a href="/">Go Back</a></p>

                <p class="company">WackyCodes Design & Development</p>
            </div>
        </div>
    </body>

</html>